.anim_fadein{
  -webkit-animation:fadein 0.5s linear forwards;
  animation:fadein 0.5s linear forwards;
}
.anim_fadeout{
  -webkit-animation:fadeout 0.5s linear forwards;
  animation:fadeout 0.5s linear forwards;
}
@-webkit-keyframes fadein{ 100%{ opacity:1; } }
@-webkit-keyframes fadeout{ 100%{ opacity:0;  } }
@keyframes fadein{ 100%{ opacity:1;  }  }
@keyframes fadeout{ 100%{ opacity:0; } }