.sidebar-nav .metismenu > li {
    /*
    -ms-flex: 1 1 0%;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    */
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    color: #ADB5BD;
    display: block;
    outline-width: 0;
    padding: 13px 15px;
    position: relative;
    transition: all 0.3s ease-out;
}
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:hover {
    background: #0B7285;
    color: #F8F9FA;
    text-decoration: none;
}
.sidebar-nav .metismenu ul a { padding: 10px 15px 10px 30px; }
.sidebar-nav .metismenu ul ul a { padding: 10px 15px 10px 45px; }
.sidebar-nav .metismenu ul ul ul a { padding: 10px 15px 10px 60px; }
.sidebar-nav .metismenu ul ul ul ul a { padding: 10px 15px 10px 75px; }
.sidebar-nav .metismenu ul ul ul ul ul a { padding: 10px 15px 10px 90px; }
.sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}